body {
    background-color: #F2F5FA;
    font-family: 'Roboto Condensed', sans-serif;
    overflow: hidden;
}
.flexboxcontainer {
    display: flex;
    flex-wrap: wrap;
    width:85%;
    height: 96vh;
    margin-left:15%;
}

.timePassed {
    width: 20%;
    height: 10vh;
}

.overviewContainer {
    width: 80%;
}

.extra_stats_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 78vh;
    width: 30%;
    margin-left: 2%;
    margin-top: 5%;
}
.stats_container{
    width: 96%;
    height: 86vh;
    background-color: #FDFFFC;
    margin-top: 4%;
    border-radius: 0.7%;
    border: 2px solid #E5EAEF;
    padding: 3px 3px 3px 3px;
}

.stats img {
    width: 100%;
    height: 100%;
}

.foo {
    width: 20%;
    height: 60vh;
    background-color: grey;
    display: table-cell;
}

.extra_stats1 {
    width: 80%;
    height: 37vh;
    background-color: #FDFFFC;
}

.extra_stats2 {
    width: 80%;
    height: 37vh;
    background-color: #FDFFFC;
}

footer p {
    margin-left: 12%;
    text-align: center;
    color: rgba(0,0,0,0.42);
}

.byteHackzIcon {
    width: 100px;
    height: auto;
    margin-left: 16%;
}

.graphTitle {
    background-color: #E4667B;
}